html { font-size:100%; }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

@media (max-width: 550px) {
    #large_header { 
        display: none; 
    }
    #small_header {
        height: 50px;
    }
}

@media (min-width: 550px) {
    #small_header { 
        display: none; 
    }
    #large_header {
        height: 50px;
    }
}

#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #333;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #fff;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #333;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 170px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #2a4b5a;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
}

#menu li a {
    color: #fff
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

p {
    color: #666;
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

.image-container {
    position: relative;
    display: inline-block;
}

.main-image {
    width: 500px;
    height: auto;
    transform: translateX(30px)
}

.my-name {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

div.main-info {
    display: flex;
    flex-wrap: wrap;
}

div.main-info-text {
    text-align: justify;
    padding: 20px;
}

div.main-info-image {
    height: 500px;
    width: 300px;
    padding: 75px;
}

img.profile-pic {
    width: 200px;
    border-radius: 30%;
}

div.work-info {
    text-align: justify;
    padding: 5px;
    height: 500px;
    width: 300px;
}